ModuloBaliza/xml-resources/web-service-references/WSpromociones/wsdl/localhost_56776/WSpromociones.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registrarMovimientoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idZona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarMovimientoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarMovimientoUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsPuerta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPuerta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsPuertaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="wsPuertaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registrarMovimientoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:registrarMovimientoUsuario" />
  </wsdl:message>
  <wsdl:message name="registrarMovimientoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:registrarMovimientoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="wsPuertaSoapIn">
    <wsdl:part name="parameters" element="tns:wsPuerta" />
  </wsdl:message>
  <wsdl:message name="wsPuertaSoapOut">
    <wsdl:part name="parameters" element="tns:wsPuertaResponse" />
  </wsdl:message>
  <wsdl:portType name="WSpromocionesSoap">
    <wsdl:operation name="registrarMovimientoUsuario">
      <wsdl:input message="tns:registrarMovimientoUsuarioSoapIn" />
      <wsdl:output message="tns:registrarMovimientoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsPuerta">
      <wsdl:input message="tns:wsPuertaSoapIn" />
      <wsdl:output message="tns:wsPuertaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSpromocionesSoap" type="tns:WSpromocionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarMovimientoUsuario">
      <soap:operation soapAction="http://tempuri.org/registrarMovimientoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsPuerta">
      <soap:operation soapAction="http://tempuri.org/wsPuerta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSpromocionesSoap12" type="tns:WSpromocionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarMovimientoUsuario">
      <soap12:operation soapAction="http://tempuri.org/registrarMovimientoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsPuerta">
      <soap12:operation soapAction="http://tempuri.org/wsPuerta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSpromociones">
    <wsdl:port name="WSpromocionesSoap" binding="tns:WSpromocionesSoap">
      <soap:address location="http://localhost:56776/WSpromociones.asmx" />
    </wsdl:port>
    <wsdl:port name="WSpromocionesSoap12" binding="tns:WSpromocionesSoap12">
      <soap12:address location="http://localhost:56776/WSpromociones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>